<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!--To inherit the global NuGet package sources remove the <clear/> line below -->
    <clear />
    <add key="nuget" value="https://api.nuget.org/v3/index.json" />
    <add key="GdsHelpers-Nuget-Feed" value="https://pkgs.dev.azure.com/CQCDigital/_packaging/GdsHelpers-Nuget-Feed/nuget/v3/index.json" />
    <add key="GOV.UK Notify (bintray)" value="https://api.bintray.com/nuget/gov-uk-notify/nuget" />
  </packageSources>
</configuration>
