<gds-row>

    <gds-column desktop-size="FullWidth" tablet-size="FullWidth">

        <gds-header header="H2" text="Check your answers before sending your feedback"></gds-header>

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">

            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    What do you want to tell us about?
                </dt>
                <dd class="govuk-summary-list__value">
                    Good care
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="#">
                        Change
                        <span class="govuk-visually-hidden"> name</span>
                    </a>
                </dd>
            </div>

            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    When did it happen?
                </dt>
                <dd class="govuk-summary-list__value">
                    It's still happening
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="#">
                        Change
                        <span class="govuk-visually-hidden"> date of birth</span>
                    </a>
                </dd>
            </div>

            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Tell us what happened,
                </dt>
                <dd class="govuk-summary-list__value">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras eget pretium...
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="#">
                        Change
                        <span class="govuk-visually-hidden"> contact information</span>
                    </a>
                </dd>
            </div>

            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Can we share the information you have given us with The Thatched House Dental Practice?
                </dt>
                <dd class="govuk-summary-list__value">
                    Yes, you can share my feedback with them
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="#">
                        Change
                        <span class="govuk-visually-hidden"> contact details</span>
                    </a>
                </dd>
            </div>

            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    "Can we contact you if we need more information?
                </dt>
                <dd class="govuk-summary-list__value">
                    Yes, I am happy for you to contact me if you need more information
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="#">
                        Change
                        <span class="govuk-visually-hidden"> contact details</span>
                    </a>
                </dd>
            </div>

            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Full name
                </dt>
                <dd class="govuk-summary-list__value">
                    Paul Senior
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="#">
                        Change
                        <span class="govuk-visually-hidden"> contact details</span>
                    </a>
                </dd>
            </div>

            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    How do you want to be contacted?
                </dt>
                <dd class="govuk-summary-list__value">
                    <p class="govuk-body">Email</p>
                    <p class="govuk-body">paul.senior@cqc.org.uk</p>
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="#">
                        Change
                        <span class="govuk-visually-hidden"> contact details</span>
                    </a>
                </dd>
            </div>

        </dl>

    </gds-column>

</gds-row>

<gds-row>

    <gds-column desktop-size="TwoThirds" tablet-size="FullWidth">

        <gds-header header="H3" text="Would you like a confirmation email?"></gds-header>

        <p class="govuk-body">
            We will keep your email address confidential. We will only use it to let you know we have received your feedback. The longest we will store it is 24 hours.
        </p>

        <div class="govuk-checkboxes">
            <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="waste-1" name="waste" type="checkbox" value="carcasses">
                <label class="govuk-label govuk-checkboxes__label" for="waste-1">
                    Yes, send me an email to confirm you have received my feedback
                </label>
            </div>
        </div>

        <p class="govuk-body">&nbsp;</p>

        <gds-header header="H3" text="Would you like a confirmation email?"></gds-header>

        <p class="govuk-body">
            You are about to send feedback about The Thatched House Dental Practice.
        </p>

        <gds-button button-text="Submit Feedback"></gds-button>

    </gds-column>

</gds-row>