@using Microsoft.Azure.Search.Common
@using SYE.Models
@model SYE.ViewModels.SearchResultsVM

<gds-row>

    <gds-column desktop-size="TwoThirds" tablet-size="FullWidth">

        <gds-heading heading-type="H1" text="Find the service you want to tell us about"></gds-heading>

        <gds-heading heading-type="H2" text="Search by service name or address"></gds-heading>

        <gds-row>
            <gds-column desktop-size="FullWidth" tablet-size="FullWidth">

                <form asp-action="SearchResults" method="get">

                    @{
                        var errorCss = "";
                        if (Model.ShowIncompletedSearchMessage)
                        {
                            errorCss = "govuk-form-group--error";
                        }
                    }
                    
                    <div class="govuk-form-group @errorCss">
                        <label class="govuk-label" for="search">
                            You do not need to use the whole name or address. For example, 'Great Ormond St WC1N' will find Great Ormond Street hospital.
                        </label>
                        @if (Model.ShowIncompletedSearchMessage)
                        {
                        <label class="govuk-error-message" for="search">
                            @(Model.ErrorMessage)
                        </label>
                        }
                                                             
                        <div class="govuk-character-count " id="qsearch" data-module="character-count" data-maxlength="100">
                            <div class="govuk-form-group ">
                                <textarea name="search" class="@(Model.ShowIncompletedSearchMessage ? "govuk-textarea js-character-count govuk-textarea--error" : "govuk-textarea js-character-count")" id="search" rows="5">@Model.Search</textarea><span class="govuk-hint govuk-character-count__search" id="search-info" aria-live="polite">You have 100 characters remaining</span>
                            </div>
                        </div>

                    </div>

                    <gds-button button-type="Submit" button-text="Search"></gds-button>

                </form>

            </gds-column>
        </gds-row>

    </gds-column>

</gds-row>

@{
    await Html.RenderPartialAsync("_GetHelpWithThisFormPartial");
}