@{
    ViewData["Title"] = "Search";
}

<gds-row>

    <gds-column desktop-size="FullWidth" tablet-size="FullWidth">

        <gds-header header="H2" text="Find the care service you want to tell us about"></gds-header>

        <gds-header header="H3" text="Search by service name or address"></gds-header>

        <gds-row>
            <gds-column desktop-size="OneHalf" tablet-size="FullWidth">

                <form asp-controller="Search" asp-action="Index" method="Post">

                    <div class="govuk-form-group">
                        <label class="govuk-label" for="event-name">
                            For example, Cherry Tree London SW1V. You do not need to use the whole name or address.
                        </label>
                        <input class="govuk-input" id="event-name" name="event-name" type="text">
                    </div>

                    <gds-button button-type="Submit" button-text="Search"></gds-button>

                </form>

            </gds-column>
        </gds-row>

    </gds-column>

</gds-row>

@if (ViewBag.ShowResults == true)
{
    <gds-row>
        <gds-column desktop-size="FullWidth" tablet-size="FullWidth">
            
            <details class="govuk-details">
                <summary class="govuk-details__summary">
                    <span class="govuk-details__summary-text">
                        I can't find the service I want to tell you about'
                    </span>
                </summary>
                <div class="govuk-details__text">
                   
                    <div class="govuk-form-group">
                        <label class="govuk-label" for="more-detail">
                            Tell us anything you can about the name of the service and where it is
                        </label>
                        <span id="more-detail-hint" class="govuk-hint">
                           We will use what you tel us to try to identify it
                        </span>
                        <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="5" aria-describedby="more-detail-hint"></textarea>
                        
                        <gds-button button-type="Button" button-text="Continue"></gds-button>

                    </div>


                </div>
            </details>

        </gds-column>
    </gds-row>

    <gds-row>

        <gds-column desktop-size="OneThird" tablet-size="FullWidth">

            <div id="filter-wrapper">
                <gds-header header="H3" text="Refine search"></gds-header>

                <div class="filters">

                    <div class="filter">
                        <gds-header header="H4" text="Type of service"></gds-header>
                        <select class="govuk-select">
                            <option>All care services</option>
                        </select>
                    </div>

                    <div class="filter">
                        <gds-header header="H4" text="Region"></gds-header>
                        <select class="govuk-select">
                            <option>All regions</option>
                        </select>
                    </div>

                    <div class="filter">
                        <gds-header header="H4" text="Town of city"></gds-header>
                        <select class="govuk-select">
                            <option>All towns or cities</option>
                        </select>
                    </div>

                </div>
            </div>

        </gds-column>

        <gds-column desktop-size="TwoThirds" tablet-size="FullWidth">

            <div id="search-results">
                <gds-row>
                    <gds-column desktop-size="TwoThirds" tablet-size="FullWidth">
                        <gds-header header="H4" text="The Thatched House dental Practice"></gds-header>
                        <p class="govuk-body">
                            154 High Road, Leytonstone<br />
                            London<br />
                            E15 1UA
                        </p>
                    </gds-column>
                    <gds-column desktop-size="OneThird" tablet-size="FullWidth">
                        <p class="govuk-body category">Dentist</p>
                        <gds-button button-type="Button" button-text="Give Feedback" class="float-right" onclick="location.href='@Url.Action("Index", "Form")'"></gds-button>
                    </gds-column>
                </gds-row>

                <gds-row>
                    <gds-column desktop-size="TwoThirds" tablet-size="FullWidth">
                        <gds-header header="H4" text="The Thatched House dental Practice"></gds-header>
                        <p class="govuk-body">
                            154 High Road, Leytonstone<br />
                            London<br />
                            E15 1UA
                        </p>
                    </gds-column>
                    <gds-column desktop-size="OneThird" tablet-size="FullWidth">
                        <p class="govuk-body category">Dentist</p>
                        <gds-button button-type="Button" button-text="Give Feedback" class="float-right" onclick="location.href='@Url.Action("Index", "Form")'"></gds-button>
                    </gds-column>
                </gds-row>

                <gds-row>
                    <gds-column desktop-size="TwoThirds" tablet-size="FullWidth">
                        <gds-header header="H4" text="The Thatched House dental Practice"></gds-header>
                        <p class="govuk-body">
                            154 High Road, Leytonstone<br />
                            London<br />
                            E15 1UA
                        </p>
                    </gds-column>
                    <gds-column desktop-size="OneThird" tablet-size="FullWidth">
                        <p class="govuk-body category">Dentist</p>
                        <gds-button button-type="Button" button-text="Give Feedback" class="float-right" onclick="location.href='@Url.Action("Index", "Form")'"></gds-button>
                    </gds-column>
                </gds-row>

            </div>

        </gds-column>

    </gds-row>

}