@using Microsoft.Azure.Search.Common
@using SYE.Models
@model SYE.ViewModels.SearchResultsVM
@{
    ViewData["Title"] = "Search";
}

<gds-row>

    <gds-column desktop-size="FullWidth" tablet-size="FullWidth">

        <gds-heading heading-type="H1" text="Find the care service you want to tell us about"></gds-heading>

        <gds-heading heading-type="H3" text="Search by service name or address"></gds-heading>

        <gds-row>
            <gds-column desktop-size="OneHalf" tablet-size="FullWidth">

                <form asp-action="SearchResults" method="get">

                    @{
                        var errorCss = "";
                        if (Model.ShowIncompletedSearchMessage)
                        {
                            errorCss = "govuk-form-group--error";
                        }
                    }

                    <div class="govuk-form-group @errorCss">
                        <label class="govuk-label" for="search">
                            For example, searching for Great Ormond St London WC1N will find Great Ormond Street hospital in London. You do not need to use the whole name or address.
                        </label>
                        @if (Model.ShowIncompletedSearchMessage)
                        {
                            <label class="govuk-error-message" for="search">
                                Enter the name of a service, its address or both. Just enter whichever part you can remember.
                            </label>
                        }
                        <input class="govuk-input" id="search" name="search" type="text" value="@Model.Search">
                    </div>

                    <gds-button button-type="Submit" button-text="Search"></gds-button>

                </form>

            </gds-column>
        </gds-row>

    </gds-column>

</gds-row>

@{
    await Html.RenderPartialAsync("_GetHelpWithThisFormPartial");
}