@using Microsoft.Extensions.Options
@using SYE.ViewModels

@inject IOptions<ApplicationSettings> Configuration

<h2 class="govuk-heading-m">Get help with this form</h2>
<p class="govuk-body">You can get help on the phone if it's hard for you to do things online.</p>
<p class="govuk-body">
    Telephone: @(Configuration.Value.GetHelp.ContactNumber)<br>
    @(Configuration.Value.GetHelp.ContactHours)<br />
    @(Configuration.Value.GetHelp.ContactExcluding)
</p>
