@using Microsoft.Extensions.Options
@using SYE.ViewModels

@inject IOptions<ApplicationSettings> Configuration

<div class="get-help">
    <h2 class="govuk-heading-m">Need help with this form?</h2>
    <p class="govuk-body">
        Telephone: @(Configuration.Value.GetHelp.ContactNumber)<br>
        @(Configuration.Value.GetHelp.ContactHours)<br />
        @(Configuration.Value.GetHelp.ContactExcluding)
    </p>
</div>
