@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<gds-row>
    <gds-column desktop-size="TwoThirds" tablet-size="FullWidth">

        <gds-heading heading-type="H1" text="@(ViewBag.ErrorTitle)"></gds-heading>

        <gds-paragraph>@(ViewBag.ErrorMessage)</gds-paragraph>

        <gds-paragraph>
            <a class="govuk-link" href="#">Contact the Care Quality Commission Helpline</a> if you need to make changes to your claim or speak to someone about your tax credits.
        </gds-paragraph>

    </gds-column>
</gds-row>