
@{
    Layout = "_Layout";
}

<gds-row>

    <gds-column desktop-size="TwoThirds" tablet-size="FullWidth">

        <div class="govuk-panel govuk-panel--confirmation">
            <h1 class="govuk-panel__title">
                You've sent your feedback
            </h1>
            <div class="govuk-panel__body">
                Your reference number
                <br><strong>@ViewBag.Reference</strong>
            </div>
        </div>


        <gds-heading heading-type="H3" text="What happens next?"></gds-heading>
        <gds-paragraph>
            What people tell us about services helps us build a picture of the standard of care they give.
        </gds-paragraph>
        <gds-paragraph>
            One of our inspectors will look at the information you've given us. How they use it will depend on what you've said. If your concerns are serious we'll take action, like contacting or visiting the service.
        </gds-paragraph>
        <gds-paragraph>
            We'll email you in the next 5 days to tell you when we've passed your information to an inspector.
        </gds-paragraph>

        <gds-paragraph>&nbsp;</gds-paragraph>

        <gds-paragraph>
            <a href="https://webdataforms.cqc.org.uk/Checkbox/SYEfeedback.aspx" class="govuk-link">What did you this of this service?</a> (takes 30 seconds)
        </gds-paragraph>

    </gds-column>

</gds-row>

@{
    await Html.RenderPartialAsync("_GetHelpWithThisFormPartial");
}