
@{
    Layout = "_Layout";
}

<gds-row>

    <gds-column desktop-size="TwoThirds" tablet-size="FullWidth">

        <div class="govuk-panel govuk-panel--confirmation">
            <h1 class="govuk-panel__title">
                You've sent your feedback
            </h1>
            <div class="govuk-panel__body">
                Your reference number
                <br><strong>@ViewBag.Reference</strong>
            </div>
        </div>


        <gds-heading heading-type="H3" text="What happens next"></gds-heading>
        <gds-paragraph>
            What people tell us about services helps us build a picture of the standard of care they give.
        </gds-paragraph>
        <gds-paragraph>
            We'll look at the information you've given us. How we use it will depend on what you've said. For example, if you've told us about a serious concern we'll take action, like contacting or visiting the service.
        </gds-paragraph>
        <gds-paragraph>
            If you've given us your email address, we'll email you to tell you when we've passed your feedback to the right person. This will be in the next 2 working days.
        </gds-paragraph>

        <gds-paragraph>
            <a href="https://webdataforms.cqc.org.uk/Checkbox/SYEfeedback.aspx" class="govuk-link">What did you think of this form?</a> (takes 30 seconds)
        </gds-paragraph>
        <gds-paragraph>
            <a href="https://www.cqc.org.uk" class="govuk-link">Exit this form and go to the CQC homepage</a>
        </gds-paragraph>

    </gds-column>

</gds-row>

@{
    await Html.RenderPartialAsync("_GetHelpWithThisFormPartial");
}