@{
    ViewData["Title"] = "Cookies";
}
@{
    Layout = "_Layout";
}

<gds-row>

    <gds-column desktop-size="TwoThirds" tablet-size="FullWidth">

        <gds-heading heading-type="H1" text="Cookies"></gds-heading>

        <gds-paragraph>
            We use cookies on this site to make your experience as easy and simple as possible.
        </gds-paragraph>

        <gds-paragraph>
            Cookies are small data files we put on your computer. They improve your experience by:
        </gds-paragraph>

        <ul class="govuk-list govuk-list--bullet">
            <li>remembering settings and information so you don’t have to keep re-entering them</li>
            <li>helping us measure how you use the site so we can make sure it meets your needs</li>
        </ul>

        <gds-paragraph>
            Cookies do not tell us who you are.
        </gds-paragraph>

        <gds-heading heading-type="H2" text="Cookies we us"></gds-heading>

        <gds-heading heading-type="H3" text="Google Analytics cookies"></gds-heading>

        <gds-paragraph>
            Google Analytics helps us see how people use our site. It tells us things like:
        </gds-paragraph>

        <ul class="govuk-list govuk-list--bullet">
            <li>the pages you've visited</li>
            <li>how long you spent on each page</li>
            <li>whether you got to the end of the form</li>
            <li>how you found it - for example, if you came from a search engine or followed a link from somewhere else</li>
        </ul>

        <gds-paragraph>
            Google Analytics does not show us personal information, like your name or IP address.
        </gds-paragraph>

        <gds-paragraph>
            Google Analytics uses the following cookies.
        </gds-paragraph>

        <table class="govuk-table">
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="col">Name</th>
                    <th class="govuk-table__header" scope="col">What it does</th>
                    <th class="govuk-table__header" scope="col">When it's removed</th>
                </tr>
            </thead>
            <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">_utma</td>
                    <td class="govuk-table__cell">Counts number of unique visits to the site</td>
                    <td class="govuk-table__cell">2 years</td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">_utmb</td>
                    <td class="govuk-table__cell">Counts number of user sessions</td>
                    <td class="govuk-table__cell">30 minutes</td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">_utmz</td>
                    <td class="govuk-table__cell">Records how people get to the site</td>
                    <td class="govuk-table__cell">6 months</td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">_utmv</td>
                    <td class="govuk-table__cell">Helps us record variables in our tracking code to refine some of the information we get from Google Analytics</td>
                    <td class="govuk-table__cell">2 years</td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">_utmx</td>
                    <td class="govuk-table__cell">Website Optimizer uses this cookie - it helps make sure you have a consistent experience on the site</td>
                    <td class="govuk-table__cell">2 years</td>
                </tr>
            </tbody>
        </table>

        <gds-paragraph>
            You can find out more by reading <gds-link class="govuk-link" link-id="privacy-link" href="http://www.google.com/policies/privacy/" target="_blank" link-text="Google's privacy policy"></gds-link>.
        </gds-paragraph>




        <gds-heading heading-type="H3" text="HotJar cookies"></gds-heading>

        <gds-paragraph>
            We use HotJar to monitor other aspects of how people use our site. For example, it can show us which areas of the page people click on and where they are when they leave the site. We also use it to run simple polls to get people's opinions.
        </gds-paragraph>

        <gds-paragraph>
            HotJar uses the following cookies.
        </gds-paragraph>

        <table class="govuk-table">
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="col">Name</th>
                    <th class="govuk-table__header" scope="col">What it does</th>
                    <th class="govuk-table__header" scope="col">When it's removed</th>
                </tr>
            </thead>
            <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">_hjDonePolls</td>
                    <td class="govuk-table__cell">Prevents polls being displayed if you've already filled them in</td>
                    <td class="govuk-table__cell">1 year</td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">_hjMinimizedPolls</td>
                    <td class="govuk-table__cell">Keeps polls minimised as you move from page to page</td>
                    <td class="govuk-table__cell">1 year</td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">_hjDoneTestersWidgets</td>
                    <td class="govuk-table__cell">Keeps forms from reappearing if you've already filled them in</td>
                    <td class="govuk-table__cell">1 year</td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">_hjMinimizedTestersWidgets</td>
                    <td class="govuk-table__cell">Keeps forms minimised as you move from page to page</td>
                    <td class="govuk-table__cell">1 year</td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">_hjIncludedInSample</td>
                    <td class="govuk-table__cell">Tells Hotjar if your visit is included in their sample set</td>
                    <td class="govuk-table__cell">1 year</td>
                </tr>
            </tbody>
        </table>



        <gds-heading heading-type="H3" text="ASP.NET Core and Microsoft Azure cookie"></gds-heading>

        <gds-paragraph>
            This form is built with the ASP.NET Core framework. It's managed on the Microsoft Azure cloud computing service. Both of these place cookies.
        </gds-paragraph>

        <table class="govuk-table">
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="col">Name</th>
                    <th class="govuk-table__header" scope="col">What it does</th>
                    <th class="govuk-table__header" scope="col">When it's removed</th>
                </tr>
            </thead>
            <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">ai_user</td>
                    <td class="govuk-table__cell">Collects information about the number of people that use the site</td>
                    <td class="govuk-table__cell">1 year</td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">ARRAffinity</td>
                    <td class="govuk-table__cell">Used for load balancing - makes sure any choices you make or information you enter go through the same server</td>
                    <td class="govuk-table__cell">When you leave the site</td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">.AspNetCore.Session</td>
                    <td class="govuk-table__cell">Stores information you enter so you don't have to enter the same things again as you move around the site</td>
                    <td class="govuk-table__cell">When you leave the site</td>
                </tr>

            </tbody>
        </table>

    </gds-column>

</gds-row>