html {
    background-color: #f3f2f1;
}

.govuk-header {
    background: #5f2861;
}

.govuk-header__container {
    margin-bottom: 0;
    border-bottom: none;
}

.govuk-header__link:focus {
    outline: none;
}

.govuk-header__link--homepage:hover {
    border-bottom-color: #5f2861;
}

.govuk-header__logotype-crown-fallback-image {
    width: auto;
    height: 50px;
}

.govuk-header__logotype-cqc {
    fill: #fff;
    height: 50px;
    width: 152px
}


.govuk-header__logotype-cqc-fallback-image {
    width: auto;
    height: 50px;
}
.govuk-footer__copyright-logo {
    background-image: url('../images/govuk-crest.png');
}

.govuk-button:active {
    top: auto;
}


/*
    SEARCH RESULTS
*/

#search-results .govuk-grid-row {
    border-top: 1px solid #bfc1c3;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 0 !important;
}

#search-results form:last-child .govuk-grid-row {
    border-bottom: 1px solid #bfc1c3;
}

#search-results .govuk-grid-row p.govuk-body:last-of-type {
    margin-bottom: 0;
}


#search-results .govuk-grid-row {
    /*border-bottom: solid 1px #ccc;*/
    margin-bottom: 10px;
    position: relative;
}

#search-results h4 {
    font-size: 19px;
    text-decoration: underline;
    color: #1d70b8;
    margin-bottom: 10px;
}

#search-results .category {
    text-align: right;
}

#search-results button {
    /*position: absolute;*/
    right: 0;
    bottom: 0;
}




@media (max-width: 640px) {

    #search-results .category {
        text-align: left;
    }

    #search-results button {
        position: inherit;
    }

    .govuk-tabs__title,
    .govuk-tabs__list {
        display: none;
    }
}

#filter-wrapper {
    border: solid 5px #ccc;
    background-color: #fff;
}

    #filter-wrapper h3 {
        font-size: 24px;
        background-color: #ccc;
        padding: 10px;
    }

    #filter-wrapper .filters {
        padding: 10px;
    }

        #filter-wrapper .filters .filter {
            margin-bottom: 20px;
        }

            #filter-wrapper .filters .filter h4 {
                font-size: 19px;
                line-height: 25px;
                margin: 0;
                font-weight: 700;
            }

            #filter-wrapper .filters .filter select {
                width: 100%;
                padding: 5px;
                border: 2px solid #0b0c0c;
            }

.govuk-summary-list__key,
.govuk-summary-list__value {
    word-break: normal !important;
}

.paging-wrapper a {
    display: block;
    margin: 0 -15px;
    padding: 15px;
}


.gds-display-none {
    /*display: none;*/
}

.gds-question {
    font-size: 32px;
    font-weight: 700;
}

@media (min-width: 48.0526em) {
    .gds-question {
        font-size: 48px;
    }
}

#qContact_003_03 label,
#qContact_003_04 label {
    font-size: 20px;
    font-weight: normal;
}


.js-enabled .govuk-tabs__tab {
    background-color: #f2f2f2;
}

.js-enabled .govuk-tabs__tab--selected {
    background-color: #ffffff;
}

label.govuk-label > p.govuk-body {
    margin-bottom: 0;
}

.app-related-items {
    border-top: 10px solid #602662;
    padding-top: 10px;
}

.get-help {
    margin-top: 0px;
}

.link-button, .link-button:hover, .link-button:active {
    position: initial !important;
    background: none !important;
    border: none !important;
    padding: 0 !important;
    margin: 0 !important;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
    text-align: left;
}

#global-cookie-message {
    width: 100%;
    background-color: #E5EAF1;
    padding: 10px 0;
}

    #global-cookie-message .govuk-body-s {
        margin-bottom: 0;
    }

.govuk-button::before {
    position: initial;
}


#search-results .govuk-body {
    margin-bottom: 10px;
}

#search-results .govuk-body-s {
    margin-bottom: 0;
}

label.gds-question h1 {
    margin-bottom: 20px;
    font-size: 3rem;
    font-weight: 700;
    line-height: 1.04167;
}

#right-side-bar {
}

    #right-side-bar a.govuk-link {
        font-size: 16px;
    }

    #right-side-bar p.govuk-body {
        font-size: 16px;
    }



.gfc-multi-line-text {
    white-space: pre-line;
}

/*Class to hide items if javascript is disabled (e.g. javascript-only functionality)*/
.jsOnly {
    display: none !important;
}

.search-button {
    height: 40px;
    vertical-align: middle;
}

    .search-button:focus {
        outline: 3px solid #ffdd00;
        outline-offset: 0;
    }

.govuk-details__summaryboarder {
    width: 90%;
    outline-color: lightgray;
    border-top-color: lightgray;
    outline-style: solid;
    border-left-color: lightgray;
    background-color: lightgray;
    border-style: hidden;
    border-width: unset;
    content: none
}

    .govuk-details__summaryboarder:focus {        
        outline: 3px solid #ffdd00;
        outline-offset: 0;
        background-color: lightgray;       
    }

.govuk-link,
.govuk-list,
.govuk-heading-xl,
.govuk-heading-l,
.govuk-heading-m,
.govuk-heading-s,
.govuk-caption-xl,
.govuk-caption-l,
.govuk-caption-m,
.govuk-body-l, .govuk-body-lead,
.govuk-body, .govuk-body-m,
.govuk-body-s,
.govuk-body-xs,
.govuk-accordion__section-button,
.govuk-back-link,
.govuk-breadcrumbs,
.govuk-breadcrumbs__link,
.govuk-button,
.govuk-error-message,
.govuk-fieldset__legend,
.govuk-fieldset__legend--xl,
.govuk-fieldset__legend--l,
.govuk-fieldset__legend--m,
.govuk-fieldset__legend--s,
.govuk-hint,
.govuk-label,
.govuk-label--xl,
.govuk-label--l,
.govuk-label--m,
.govuk-label--s,
.govuk-checkboxes__item,
.govuk-summary-list,
.govuk-input,
.govuk-details,
.govuk-error-summary__title,
.govuk-error-summary__body,
.govuk-file-upload,
.govuk-footer,
.govuk-header,
.govuk-header__product-name,
.govuk-header__link--homepage,
.govuk-header__link--service-name,
.govuk-header__menu-button,
.govuk-header__navigation-item a,
.govuk-inset-text,
.govuk-panel,
.govuk-panel__title,
.govuk-panel__body,
.govuk-tag,
.govuk-phase-banner__content,
.govuk-tabs,
.govuk-tabs__title,
.govuk-tabs__tab,
.govuk-radios__item,
.govuk-radios__divider,
.govuk-select,
.govuk-skip-link,
.govuk-table,
.govuk-table__cell--numeric,
.govuk-textarea,
.govuk-warning-text,
.govuk-warning-text__icon {
    font-family: Arial,sans-serif;
}
    