
.govuk-header {
    background: #5f2861;
}

.govuk-header__container {
    margin-bottom: 0;
    border-bottom: none;
}

.govuk-header__link:focus {
    outline: none;
    background-color: #5f2861;
}

.govuk-header__link--homepage:hover {
    border-bottom: none;
}

.govuk-header__logotype-crown-fallback-image {
    width: auto;
    height: auto;
}

.govuk-footer__copyright-logo {
    background-image: url('../images/govuk-crest.png');
}