
.govuk-header {
    background: #5f2861;
}

.govuk-header__container {
    margin-bottom: 0;
    border-bottom: none;
}

.govuk-header__link:focus {
    outline: none;
    background-color: #5f2861;
}

.govuk-header__link--homepage:hover {
    /*border-bottom: none;*/
    border-bottom-color: #5f2861;
}

.govuk-header__logotype-crown-fallback-image {
    width: auto;
    height: auto;
}

.govuk-footer__copyright-logo {
    background-image: url('../images/govuk-crest.png');
}

.govuk-button:active {
    top: auto;
}


/*
    SEARCH RESULTS
*/

#search-results .govuk-grid-row {
    border-top: 1px solid #bfc1c3;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 0 !important;
}

#search-results form:last-child .govuk-grid-row {
    border-bottom: 1px solid #bfc1c3;
}

#search-results .govuk-grid-row p.govuk-body:last-of-type {
    margin-bottom: 0;
}


#search-results .govuk-grid-row {
    /*border-bottom: solid 1px #ccc;*/
    margin-bottom: 10px;
    position: relative;
}

#search-results h4 {
    font-size: 19px;
    text-decoration: underline;
    color: #005EA5;
    margin-bottom: 10px;
}

#search-results .category {
    text-align: right;
}

#search-results button {
    position: absolute;
    right: 0;
    bottom: 0;
}




@media (max-width: 48.0525em) {

    #search-results .category {
        text-align: left;
    }

    #search-results button {
        position: inherit;
    }

    .govuk-tabs__title,
    .govuk-tabs__list {
        display: none;
    }
}

@media (min-width: 48.0625em) {
}


#filter-wrapper {
    border: solid 5px #ccc;
    background-color: #fff;
}

    #filter-wrapper h3 {
        font-size: 24px;
        background-color: #ccc;
        padding: 10px;
    }

    #filter-wrapper .filters {
        padding: 10px;
    }

        #filter-wrapper .filters .filter {
            margin-bottom: 20px;
        }

            #filter-wrapper .filters .filter h4 {
                font-size: 19px;
                line-height: 25px;
                margin: 0;
                font-weight: 700;
            }

            #filter-wrapper .filters .filter select {
                width: 100%;
                padding: 5px;
                border: 2px solid #0b0c0c;
            }

.govuk-summary-list__key,
.govuk-summary-list__value {
    word-break: break-word;
}


.paging-wrapper a {
    display: block;
    margin: 0 -15px;
    padding: 15px;
}


.gds-display-none {
    /*display: none;*/
}

.gds-question {
    font-size: 36px;
    font-weight: 700;
}


#qContact_003_03 label,
#qContact_003_04 label {
    font-size: 20px;
    font-weight: normal;
}


.js-enabled .govuk-tabs__tab {
    background-color: #f2f2f2;
}

.js-enabled .govuk-tabs__tab--selected {
    background-color: #ffffff;
}

label.govuk-label > p.govuk-body {
    margin-bottom: 0;
}

.purple-bar {
    width: 100%;
    height: 10px;
    background: #5f2861;
}

.get-help {
    margin-top: 40px;
}

.link-button, .link-button:hover, .link-button:active {
    position: initial !important;
    background: none !important;
    border: none !important;
    padding: 0px !important;
    margin: 0px !important;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
}