@{
    ViewData["Title"] = "Home Page";
}

<gds-row >
    
    <gds-column desktop-size="TwoThirds" tablet-size="FullWidth">

        <gds-header header="H2" text="Share Your Experience"></gds-header>

        <p class="govuk-body">Use this form to:</p>

        <ul class="govuk-list govuk-list--bullet">
            <li>share an experience of good or bad care</li>
            <li>tell us about a complaint you have made that you would like to take further</li>
        </ul>

        <gds-header header="H2" text="How we will use the information you give us"></gds-header>
        <p class="govuk-body">What you tell us can help us understand the quality of care people get from the service you're telling us about. It can help us decide if we need to take action, like carrying out an inspection. We can't always tell you what action we've taken.</p>
        <p class="govuk-body">You don't have to give your name.</p>
        <p class="govuk-body">We won't share the information you have given us with the care service unless either:</p>

        <ul class="govuk-list govuk-list--bullet">
            <li>you say we can</li>
            <li>we need to act on serious concerns, like to protect someone's safety</li>
        </ul>
        

        <p class="govuk-body"><gds-button button-status="Enabled" button-text="Start Now" button-type="Button"></gds-button></p>

    </gds-column>

</gds-row>
