@{
    ViewData["Title"] = "Home Page";
}

<gds-row>

    <gds-column desktop-size="TwoThirds" tablet-size="FullWidth">

        <gds-heading heading-type="H2" text="Share Your Experience"></gds-heading>
        <gds-paragraph>Use this form to tell us about:</gds-paragraph>
        <ul class="govuk-list govuk-list--bullet">
            <li>an experience of care from a service like a care home, care agency, hospital or GP it can be good or bad</li>
            <li>a concern you have about a care service you work for</li>
            <li>a complaint you've made where you're not happy with the way it's been dealt with</li>
        </ul>
        
        <gds-paragraph>Before you tell us, there are 4 things you need to know.</gds-paragraph>
        
        <form asp-controller="Search" asp-action="Index" method="get">
            <p class="govuk-body"><gds-button button-status="Enabled" button-text="Start Now" button-type="Submit" start-now="true"></gds-button></p>
        </form>

        
        <gds-heading heading-type="H3" text="Get help with this form"></gds-heading>
        <gds-paragraph>You can get help on the phone if it's hard for you to do things online.</gds-paragraph>
        <gds-paragraph>Telephone: 03000 616161<br/>Monday to Friday, 8:30am to 5pm<br/>Excluding bank holidays</gds-paragraph>
        
    </gds-column>

</gds-row>
